/* 
    id selector: 
    #id {property:value;}

    Note:
        - id selector has the highest priority.
        - class selector has the second highest priority.
        - element selector has the third highest priority.
        - universal selector has the fourth highest priority.
*/
#btn01 {
    color: red;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}